:root {
  --background: #292c35;
  --text: #f1f1f1;
  --label: #111;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Segoe UI';
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.3s ease-out;

  background-color: var(--background);
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: var(--text);
  margin-bottom: 2.6rem;
}

main img {
  width: 9.415rem;
  height: 9.415rem;
  user-select: none;
}

label {
  width: 23.538rem;
  height: 10.2rem;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  background-color: var(--label);
  border-radius: 5.9rem;
}

input[type="checkbox"] {
  height: 0;
  width: 0;

  visibility: hidden;
  position: absolute;
}

label::after {
  content: "";
  height: 86.31px;
  width: 86.31px;

  background-color: #f1f1f1;
  border-radius: 50%;

  position: absolute;
  left: 0.8rem;

  box-shadow: inset 0px 1px 10px 0.1px;
  transition: 0.3s ease-out;
}

input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
