:root {
  --background: #292c35;
  --text: #f1f1f1;
  --label: #111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 26px;

  color: var(--text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main img {
  width: 94.15px;
  height: 94.15px;
  user-select: none;
}

label {
  width: 235.38px;
  height: 102px;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  background-color: var(--label);
  border-radius: 59px;
}

input[type="checkbox"] {
  height: 0;
  width: 0;

  visibility: hidden;
  position: absolute;
}

label::after {
  content: "";
  height: 86.31px;
  width: 86.31px;

  background-color: #f1f1f1;
  border-radius: 50%;

  position: absolute;
  left: 8px;

  box-shadow: inset 0px 1px 10px 0.1px;
  transition: 0.3s ease-out;
}

input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
