:root {
  --purple: #290742;
  --input-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --bg: #fbf6ff;
  --green: #4fff4b;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style: none;
  text-decoration: none;
}

html,
body {
  width: 100vw;
  height: 100vh;

  overflow-x: hidden;

  background-color: var(--bg);
}

header {
  width: 100%;
  height: 58.2rem;

  margin-bottom: 7rem;
  padding-top: 6.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--purple);
  box-shadow: 0 0.6rem var(--green);
}

header nav {
  width: 82%;

  margin-bottom: 6.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  gap: 8%;

  justify-content: center;

  width: 51rem;
}

.nav-active {
  border-left: 0.3rem solid var(--green);
}

header nav ul li a {
  padding-left: 0.5rem;

  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.1rem;
  font-family: "Roboto";
  color: var(--white);
}

header nav div.input-group {
  width: 30rem;
  height: 4.4rem;

  display: flex;
  justify-content: space-between;

  padding-left: 2.565rem;

  background-color: var(--input-bg);

  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));

  border-radius: 4px 0px 0px 4px;
}

header nav div.input-group input {
  background: none;
  outline: none;
  border: none;

  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
  font-family: "Roboto";
  color: var(--bg);
}

header nav div.input-group input::-webkit-input-placeholder {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
  font-family: "Roboto";
  color: var(--bg);
}

header nav div.input-group button {
  width: 7rem;
  height: 4.4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--button-bg);
  cursor: pointer;

  border: none;
  border-radius: 0px 4px 4px 0px;
}

header main {
  width: 82%;

  display: flex;
  justify-content: space-between;
}

header main section:nth-child(1) {
  width: 57rem;
  height: 31.1rem;
}

header main section h1 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 5.4rem;
  font-family: "Poppins";
  color: var(--button-bg);
}

header main section p {
  margin-block: 1.6rem 2.6rem;

  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  font-family: "Roboto";
  color: var(--bg);
}

header main section span {
  height: 2.7rem;

  display: flex;
  align-items: center;
}

header main section a {
  margin-left: 0.8rem;

  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.7rem;
  font-family: "Roboto";
  color: var(--button-bg);
}

header main section i {
  margin-left: 0.8rem;
}

header main section:nth-child(2) {
  width: 57rem;
  height: 34.6rem;
}

header main section:nth-child(2) img {
  width: 100%;
  height: 100%;
}

main.content {
  width: 82%;
  margin: 0 auto;

  padding-bottom: 6.758rem;
}

main.content span {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  font-family: "Roboto";
}

main.content h2 {
  line-height: 3.6rem;
  font-weight: 700;
  font-size: 2.4rem;
  font-family: "Roboto";
  color: var(--purple);
}

main.content p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  font-family: "Roboto";
}

main.content section {
  display: flex;
  justify-content: space-between;
}

main.content section:nth-child(1) {
  margin-bottom: 6.379rem;
}

main.content section .left-post {
  width: 56.9rem;
}

main.content section .left-post img {
  width: 56.9rem;
  height: 34.243rem;

  margin-bottom: 1.597rem;
}

main.content section .left-post h2 {
  margin-block: 1.597rem;
}

main.content section .right-post {
  width: 46.774rem;
}

main.content section .right-post h2 {
  margin-block: 0.8rem;
}

main.content section .right-post .post:nth-child(1) h2 {
  font-family: "Poppins";
}

main.content section .right-post .post:nth-child(1) p {
  padding-bottom: 2.359rem;
  margin-bottom: 2.396rem;

  border-bottom: 1px solid #f2e7fa;
}

main.content section:nth-child(2) div {
  width: 37rem;
}

main.content section:nth-child(2) img {
  width: 100%;
  margin-bottom: 1.597rem;
}

main.content section:nth-child(2) h2 {
  margin-block: 0.8rem;
}

@media (max-width: 1400px) {
  :root {
    font-size: 50%;
  }
}

@media (max-width: 1130px) {
  :root {
    font-size: 46%;
  }

  header nav {
    width: 86%;
  }

  header main {
    width: 86%;

  }

  main.content {
    width: 86%;
  }
}

@media (max-width: 1000px) {
  :root {
    font-size: 45%;
  }

  header nav {
    width: 93%;
  }

  header main {
    width: 93%;
  }

  main.content {
    width: 93%;
    flex-wrap: wrap;
  }
}
