:root {
  --backgrond: #000;
  --text-color: #fff;
  --button: #8257e5;
  --border: #29292e;
  --border-menu-mobile: #a8a8b3;
  --text-color-menu-mobile: #e1e1e6;

  font-family: "Manrope", sans-serif;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
}

html,
body {
  width: 100vw;
  height: 100vh;

  background-color: var(--backgrond);
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: -0.03em;

  color: #ffffff;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 4.1rem;
  letter-spacing: 0.02em;
  text-align: center;

  color: #ffffff;
}

header nav {
  height: 5.85rem;
  width: 100%;

  margin-top: 3.7rem;

  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid var(--border);
}

header nav .logo {
  width: 17.1rem;
  height: 3.278rem;

  margin-left: 5%;
}

header nav .burger-icon {
  width: 2.4rem;
  height: 0.8rem;

  margin-top: 1.2rem;
  margin-right: 5%;
}

main {
  height: 130%;
  width: 100vw;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

main h2 {
  width: 37.3rem;
  margin-block: 8.8rem;
}

button.getCoffe {
  font-size: 1.1rem;
  font-weight: 800;
  line-height: 1.5rem;
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;

  margin: 0 auto 9.8rem;
  padding: 1rem 3rem;

  color: #ffffff;

  border: 1px solid var(--button);
  background: none;
  border-radius: 6px;

  z-index: 10;
}

button.getCoffe:hover {
  background-color: var(--button);
}

button.getCoffe i {
  margin-left: 1rem;
  padding-top: 0.3rem;
}

main .title h1:nth-child(1) {
  text-align: center;
}

main .title h1:nth-child(2) {
  color: unset;
  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button),
    -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

#blur {
  width: 100%;

  position: absolute;
  bottom: 0;
}

.RocketCoffe {
  position: absolute;
  left: 50%;
  bottom: 0;

  transform: translateX(-50%);
}
