:root {
  --body-bg-color: #faf7fd;
  --mainColor: #06d6a0;

  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style: none;
  text-decoration: none;

  font-size: 1.6rem;
  color: var(--mainColor);
}

body {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to right, #2c3e50, #3498db);
}

span {
  margin-top: 1.5rem;
  animation: toRight 0.4s 0.4s backwards;
}

a {
  font-weight: 600;
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outline {
  height: 21.3rem;
  width: 21.3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2.5px solid var(--mainColor);
  border-radius: 50%;
  overflow: hidden;

  animation: toRight 0.4s 0.3s backwards;
  position: relative;
}

.blur {
  position: absolute;
  bottom: 0;
  width: 20rem;
  height: 10rem;

  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0),
    rgba(255, 254, 254, 0.4)
  );
}

.outline img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
}

ul.userLinks {
  margin-block: 3.3rem 5.2rem;
}

li {
  margin-bottom: 1.6rem;
  padding: 1.3rem 14rem;

  border: 2.5px solid var(--mainColor);
  border-radius: 0.4rem;
  text-align: center;
}

li a {
  transition: 0.3s ease;
}

li:nth-child(1) {
  animation: toRight 0.4s 0.4s backwards;
}

li:nth-child(2) {
  animation: toRight 0.4s 0.5s backwards;
}

li:nth-child(3) {
  animation: toRight 0.4s 0.6s backwards;
}

li:nth-child(4) {
  animation: toRight 0.4s 0.7s backwards;
}

.userSocialIcons {
  width: 23.6rem;

  display: flex;
  justify-content: space-between;

  animation: toRight 0.4s 0.8s backwards;
  transition: 0.5s ease;
}

.userSocialIcons img:hover {
  transform: scale(1.1);
}

li:hover {
  background: linear-gradient(to right, #4361ee, #43aa8b);
  cursor: pointer;
}

li:hover a {
  color: #212922;
}

@keyframes toRight {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
