@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --main-background: #c4c4c4;
  --background: #e5e5e5;
  --text-description: #9c9696;
  --button: #ff0000;
  --black: #000;

  font-size: 62.5%;
  font-family: "Roboto";

  background-color: var(--background);

  --webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: var(--black);
  list-style: none;
}

body {
  height: 100%;
  overflow-x: hidden;
  display: relative;
}

h1 {
  font-size: 6rem;
  line-height: 7rem;
}

p.price {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.7rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 2.8rem;
}

h3 {
  font-size: 1.8rem;
  line-height: 2.1rem;
}

a {
  text-decoration: none;
  color: var(--black);
}

span {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.9rem;
  color: var(--text-description);
}

header {
  width: 100%;

  padding-top: 3.9rem;
  display: flex;
  justify-content: center;

  position: absolute;
  top: 0;
}

header nav {
  width: 132rem;
  display: flex;
}

header nav ul {
  margin-inline: 11.4rem 8.2rem;

  display: flex;
  gap: 9rem;
}

li {
  cursor: pointer;
  height: 0.8rem;
}

header nav .input-container {
  width: 22rem;
  height: 4.5rem;

  display: flex;
  align-items: center;

  background-color: #ffffff;
}

header nav .input-container button {
  margin-inline: 1.3rem 0.5rem;

  display: flex;
  align-items: center;

  background: none;
  border: none;
  cursor: pointer;
}

header nav .input-container input {
  width: 17rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.1rem;
  color: var(--text-description);

  background: none;
  border: none;
  outline: none;
}

header nav a {
  height: 3.4rem;

  transition: 0.3s;
  margin-block: 0.6rem;
  margin-left: auto;
}

main {
  width: 100%;
  display: flex;
}

main .content-section {
  flex: 54rem;
}

main .content-section .price-container {
  width: 35.7rem;
  height: 27.2rem;

  margin-top: 19rem;
  margin-left: 11.1rem;
}

main .content-section .price-container h1 {
  margin-bottom: 2.1rem;
}

main .content-section .price-container p {
  margin-block: 2.1rem 3rem;
}

main .content-section .price-container button {
  width: 27.4rem;
  height: 9rem;

  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;
  color: #ffffff;

  background-color: var(--button);
  border-radius: 6px;
  border: none;
  cursor: pointer;

  transition: 0.4s ease;
}

main .content-section .price-container button:hover {
  background-color: #b40303;
}

main .img-section {
  height: 91.4rem;
  width: 93rem;

  background-color: var(--main-background);
}

main .img-section .main-image {
  margin: 17.4rem 14.6rem 0 15.7rem;
}

main .img-section .images {
  margin-inline: 1.8rem;

  display: flex;
  justify-content: center;
  gap: 3.7rem;
  cursor: pointer;
}

main .img-section .images img {
  height: 18.28rem;
  width: 40%;
}

main .img-section .images img:hover {
  box-sizing: content-box;
  border-bottom: 5px solid #ff0000;

  transition: 0.5s ease;
}

/* main .selected {
  border-bottom: 5px solid #ff0000;
} */

footer {
  width: 100%;

  display: flex;
}

footer div.video {
  width: 25rem;
  height: 100%;

  background-color: #000;
}

footer ul {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer li {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.3s ease-out;
}

footer .explore {
  width: 70.7rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--black);
  cursor: pointer;

  transition: 0.3s ease-out;
}

footer .explore h3 {
  color: #ffffff;
  margin-right: 1.4rem;
}

header nav a :hover {
  transition: 0.3s;
  transform: scale(1.08);
  color: rgb(69, 69, 69);
}

footer ul li:nth-child(-n + 4):hover {
  background-color: rgb(69, 69, 69);
}

footer ul li:nth-child(-n + 4):hover h3 {
  color: white;
}

footer .explore:hover {
  background-color: rgb(4, 4, 4);
}

footer .explore:hover i {
  transition: 0.3s;
  animation: toRightArrow 0.5s both;
}

@keyframes toRightArrow {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(20px);
  }
}
