@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --main-background: #c4c4c4;
  --background: #e5e5e5;
  --text-description: #9c9696;
  --button: #ff0000;
  --black: #000;

  font-size: 62.5%;
  font-family: "Roboto", sans-serif;

  background-color: var(--background);

  --webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
}

h1 {
  font-size: 6rem;
  line-height: 7rem;
}

h3 {
  font-size: 1.8rem;
  line-height: 2.1rem;
}

ul.footerLinks li a {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.1rem;
  color: var(--black);
}

li {
  cursor: pointer;
}

span {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.9rem;
  color: var(--text-description);
}

button {
  border: none;
  cursor: pointer;
}

/* === HEADER === */
header {
  width: 100%;

  margin-top: 3.9rem;

  position: absolute;
  top: 0;
  left: 0;
}

header nav {
  width: 95%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

header nav i img {
  width: 5.2rem;
  height: 3.64rem;
}

header nav .navLinks {
  display: flex;
  gap: 9rem;
}

header nav .navLinks li a {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 700;
  color: var(--black);
}

header nav .input-container {
  width: 22rem;
  height: 4.6rem;

  display: flex;
  background-color: #ffffff;
}

header nav .input-container button {
  padding-inline: 1.3rem 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
}

header nav .input-container button img {
  width: 2.4rem;
  height: 2.298rem;
}

header nav .input-container input {
  width: 100%;
  font-size: 1.8rem;
  color: var(--text-description);

  border: none;
  outline: none;
}

header nav .bagIcon img {
  width: 3.4rem;
  height: 3.4rem;
  margin-block: 0.6rem;
  transition: 0.3s;
}

header nav .navLinks li:hover {
  transition: 0.3s;
  transform: scale(1.08);
}

header nav .navLinks li a:hover {
  transition: 0.3s;
  color: rgb(69, 69, 69);
}

/* === MAIN === */
main {
  display: flex;
}

/* === MAIN SECTION 01 === */
main .content-section {
  width: 35%;
  display: flex;
  align-items: center;
}

main .content-section .price-container {
  width: 35.7rem;
  margin-inline: auto;
}

main .content-section .price-container h1 {
  margin-bottom: 2.1rem;
}

main .content-section .price-container p {
  margin-block: 2.1rem 3rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.7rem;
}

main .content-section .price-container button {
  width: 27.4rem;
  height: 9rem;

  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;
  color: #ffffff;

  background-color: var(--button);
  border-radius: 6px;

  transition: 0.4s ease;
}

main .content-section .price-container button:hover {
  background-color: #b40303;
}

/* === MAIN SECTION 02 === */
main .img-section {
  width: 65%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--main-background);
}

main .main-image {
  width: 51rem;
  height: 59.7rem;
  margin-top: 17.4rem;
}

main .img-section .images {
  width: 100%;
  margin-bottom: 2rem;

  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

main .img-section .images img {
  height: 18.28rem;
  width: 27rem;
}

main .img-section .images img:hover {
  box-shadow: 0 3px red;
  transition: 0.41s ease;
}

/* === FOOTER === */
footer {
  width: 100%;
  height: 16.633rem;

  display: flex;
}

footer .iframeContainer {
  background-color: #000;
}

footer .footerLinks {
  width: 100%;
  display: flex;
}

footer li {
  width: 24.897rem;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.3s ease-out;
}

footer ul li:hover {
  background-color: rgb(69, 69, 69);
}

footer ul li:hover a {
  color: white;
}

footer .explore {
  width: 50rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--black);
  cursor: pointer;
  color: #ffffff;

  transition: 0.3s ease-out;
}

footer .explore h3 {
  padding-right: 1.4rem;
}

footer .explore:hover {
  background-color: rgb(4, 4, 4);
}

footer .explore:hover i {
  animation: toRightArrow 0.5s both;
}

@keyframes toRightArrow {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(20px);
  }
}
/* 
@media (max-width: 1170px) {
  :root {
    font-size: 55%;
  }

  footer .explore h3 {
    margin-right: 0.5rem;
  }

  header nav ul {
    gap: 5rem;
  }

  main .img-section {
    width: 670px;
  }
  main .img-section .images img {
    width: 22rem;
  }
}

@media (max-width: 950px) {
  :root {
    font-size: 46%;
  }

  main .img-section {
    width: 600px;
  }
}
 */
