@media (max-width: 1350px) {
  :root {
    font-size: 55%;
  }
}

@media (max-width: 1200px) {
  :root {
    font-size: 50%;
  }
}

@media (max-width: 1130px) {
  :root {
    font-size: 47%;
  }
}

@media (max-width: 1050px) {
  :root {
    font-size: 44%;
  }
  main.contentSection3 section {
    grid-column-gap: 6rem;
  }
}

@media (max-width: 940px) {
  :root {
    font-size: 40%;
  }

  header main h1 {
    width: 45.6rem;
    font-size: 4.3rem;
    text-align: center;
  }
}

@media (max-width: 840px) {
  header .gallery {
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
    grid-template-rows: repeat(4, 1fr);
  }

  main.contentSection3 section {
    grid-template-columns: repeat(2, minmax(31rem, 1fr));
    grid-template-rows: repeat(auto-fit, 15rem);
    grid-row-gap: 8rem;
  }
}

@media (max-width: 768px) {
  header main {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  header main h1 {
    width: 100%;
  }

  header main section:nth-child(1) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  header main section:nth-child(1) p {
    width: 40rem;
  }

  main.contentSection1 {
    height: auto;
    display: block;
  }

  main.contentSection1 aside {
    width: 100%;
    height: 20rem;

    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    border-right: none;
    border-bottom: var(--border);
  }

  main.contentSection1 section div.articleContainer {
    height: 50rem;
  }

  main.contentSection1 section div.articleContainer article {
    flex-direction: column;
    align-items: center;
  }

  main.contentSection1 section div.articleContainer article div {
    width: 80%;
  }

  main.contentSection1 section div.articleContainer article div p {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  footer section:nth-child(2) {
    height: auto;
    flex-direction: column;
  }

  footer section:nth-child(2) aside:nth-child(1) {
    width: 100%;

    padding-inline: 0;
    padding-bottom: 6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-right: none;
  }

  footer section:nth-child(2) .footerLinks {
    width: 100%;

    display: flex;
    justify-content: center;
    padding-block: 3rem;
    border-top: var(--border);
  }
}

@media (max-width: 680px) {
  header nav ul.desktopLinks {
    display: none;
  }

  header .mobileLinks {
    display: flex;
    justify-content: center;
    gap: 20%;

    padding-top: 3rem;
  }

  header .mobileLinks a {
    font-size: 1.8rem;
    transition: 0.3s ease;
  }

  header main {
    margin-top: 6rem;
  }

  footer section:nth-child(1) {
    padding-inline: 4.6rem;
  }
}

@media (max-width: 580px) {
  main.contentSection2 {
    margin-inline: 2rem;
  }

  main.contentSection2 section aside {
    height: 67rem;
  }

  main.contentSection2 section aside .card {
    width: 27rem;
  }

  main.contentSection3 section {
    grid-template-columns: repeat(1, minmax(31rem, 1fr));
    gap: 5rem 3rem;
  }
}

@media (max-width: 520px) {
  header main section:nth-child(1) {
    flex-direction: column;
    align-items: center;

    margin-bottom: 1rem;
  }

  header main section:nth-child(1) p {
    width: 90%;
    margin-bottom: 2.5rem;
  }

  header main section:nth-child(1) .artists {
    height: 11rem;
  }

  footer section:nth-child(3) {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
}

@media (max-width: 420px) {
  :root {
    font-size: 36%;
  }

  header {
    padding-inline: 3rem;
  }

  footer section:nth-child(2) .footerLinks {
    gap: 8rem;
  }
}
